body{
  font-family: Arial, Helvetica, sans-serif;
  /* define o estilo da fonte */
  background-color: #000;
  /* cor de fundo da página */
  color: #fff;
  /* cor da fonte */
}

main{
  font-size: 17px;
}

.navegaçao{
  padding: 10px;
  /* ajusta o tamanho interno do menu */
  margin:  0 auto;
  /* zera a margem */
  display: flex;
  /* deixa o display flexivel para os elementos */
  align-items: center;
  /* alinha os elementos no centro no sentido vertical */
}

.principe{
  display: flex;
      /* deixa o display flexivel para os elementos */
  align-items: center;
  
}

.coroa{
  height: 1.91cm;
  width: 1.97cm;
}

.title{
  font-size: 37px;
  color: #028502;
  font-style: italic ;
  text-decoration: underline;
  font-family: 'Felix Titling';
  
}
.subtitle{
font-size: 17px;
margin-left: 3px;
margin-top: 3vh;
}

nav{
display: flex;
    /* deixa o display flexivel para os elementos */
align-items: center;
justify-content: space-between;
transition: 0.5s;
}
nav ul{
  display: inline-block;
  list-style: none;
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 15px;
}
nav ul li{
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  transition: 0.5s;
}
nav ul li a{
padding: 5px;
text-decoration: none;
color: #fff;
display: block;
}
nav  ul li:hover{
  transition: 0.5s;
  background-color: #664704;
  border-color: #ffffff;
  color: #ffffff;
  border-radius: 15px;
}
nav ul li{
  position: relative;
  display: inline-block;
}
nav ul ul{
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #000;
}
nav ul ul li{
  display: block;
  font-size: 12px;
}
nav ul li:hover>ul{
  display: inherit;
}
nav ul .capitulo ul{
  top: 1.1cm;
}


.citacao{
  background-color: rgb(124, 116, 92);
  padding: 20px;
  border-radius: 10px;
  transition: 0.6s;
  text-shadow: 2px 2px 2px #000;
  max-width: 30%;
  font-size: 22px;
  display: flex;
  align-items: center;
}
.citacao:hover{
  background-color: rgb(124, 116, 92);;
  padding: 30px;
  border-radius: 20px;
  transition: 0.6s;
  text-shadow: 2px 2px 2px #000;
}


b{
text-decoration: underline;
}


footer{
  text-align: center;
  bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.resumo_cap{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.resumo{
  max-width: 60%;
  font-size: 19px;
}

h2{
  text-align: center;
  color: #028502;
  margin-left: 10%;
  margin-right: 10%;
}

.prox_cap{
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  background-color: #664704;
  border-radius: 10px;
  padding: 15px;
}

.citacoes{
  display: flex;
  justify-content: space-around  ;
}

.avanco_caps{
  display: flex;
  justify-content: space-evenly;
}