body{
  font-family: Arial, Helvetica, sans-serif;
  /* define o estilo da fonte */
  background-color: #000;
  /* cor de fundo da página */
  color: #fff;
  /* cor da fonte */
}

main{
  font-size: 18px;
}

.navegaçao{
  padding: 10px;
  /* ajusta o tamanho interno do menu */
  margin:  0 auto;
  /* zera a margem */
  display: flex;
  /* deixa o display flexivel para os elementos */
  align-items: center;
  /* alinha os elementos no centro no sentido vertical */
}

.principe{
  display: flex;
      /* deixa o display flexivel para os elementos */
  align-items: center;
  
}

.coroa{
  height: 1.91cm;
  width: 1.97cm;
}

.title{
  font-size: 37px;
  color: #028502;
  font-style: italic ;
  text-decoration: underline;
  font-family: 'Felix Titling';
  
}
.subtitle{
font-size: 17px;
margin-left: 3px;
margin-top: 3vh;
}

nav{
display: flex;
    /* deixa o display flexivel para os elementos */
align-items: center;
justify-content: space-between;
transition: 0.5s;
}
nav ul{
  display: inline-block;
  list-style: none;
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 15px;
}
nav ul li{
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  transition: 0.5s;
}
nav ul li a{
padding: 5px;
text-decoration: none;
color: #fff;
display: block;
}
nav  ul li:hover{
  transition: 0.5s;
  background-color: #664704;
  border-color: #ffffff;
  color: #ffffff;
  border-radius: 15px;
}
nav ul li{
  position: relative;
  display: inline-block;
}
nav ul ul{
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #000;
}
nav ul ul li{
  display: block;
  font-size: 12px;
}
nav ul li:hover>ul{
  display: inherit;
}
nav ul .capitulo ul{
  top: 1.1cm;
}


footer{
  text-align: center;
  bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.caps{
  font-size: 20px;
  text-align: center;
  padding: 25px;
  justify-content: center;
  align-items: center;
}

.a{
  text-decoration: none;
  padding: 15px;
  list-style: none;
  color: #fff;
  transition: 0.6s;
  border-radius: 10px;
}

.a:hover{
  background-color: #664704;
  padding: 15px;
  font-size: 18px;
  border-radius: 10px;
  transition: 0.6s;
}

.aplicacao{
  margin: 10vw ;
  transition: .4s;
}
.aplicacao:hover{
  font-size: 19px;
  transition: 0.4s;
}

.magno{
  display: flex;
  justify-content: space-around;
}
.sforza{
  display: flex;
  justify-content: space-around;
}
.luisxii{
  display: flex;
  justify-content: space-around;
}
.borgia{
  display: flex;
  justify-content: space-around;
}
.historia{
  max-width: 60vw;
  background-color: #4b0606;
  padding: 20px;
  border-radius: 10px;
  transition: 0.5s;
}
.historia:hover{
  padding: 25px;
  transition: 0.5s;
}

.influencia{
  margin: 10vw ;
  transition: .4s;
}
.influencia:hover{
  font-size: 19px;
  transition: 0.4s;
}

.critica{
  margin: 10vw ;
  transition: .4s;
  background-color: #4b0606;
  border-radius: 15px;
  padding: 30px;
}
.critica:hover{
  font-size: 19px;
  transition: 0.4s;
}

.personagens_img{
  height: 7.78cm;
  width: 5.85cm;
  border-radius: 10px;
  border: #664704;
  border-style: solid;
  box-shadow: 7px 7px 7px #302f2f;
}

.bibliografia{
  text-decoration: underline;
  color: #fff;
  text-align: center;
}
.ref{
  text-decoration: underline;
  color: #fff;
}

